---
import "@fontsource/inter/variable.css";
import Header from "~/components/header.astro";
import ContentSection from "~/components/content-section.astro";
import { Icon } from "astro-icon";
import "~/styles/index.css";
import Head from "~/components/head.astro";
import Footer from "~/components/footer.astro";
import type { MemberCardProps, Midia, PublicationItem, TimelineItem } from "~/types";
import AboutTeam from "~/components/about-team.astro";
import Photos from "~/components/photos.astro";
import Videos from "~/components/videos.astro";
import Members from "~/components/members.astro";
import Timeline from "~/components/timeline.astro";
import Publications from "~/components/publications.astro";

const teamDescription = "The Brazilian United Team for Intelligent Automation - BUTIA was founded in 2018 by FBOT from Universidade Federal do Rio Grande (FURG) and Taura Bots from Universidade Federal de Santa Maria (UFSM). The ButiaBots team has already participated in several RoboCup@Home competitions, including being the third best team in the Brazilian Robotics Competition (LARC/CBR) for three consecutive years (2018 - 2019 - 2020), vice champion of the Brazilian Robotics Competition (LARC/CBR) 2021, third best team in the RoboCup Thailand 2022 (Open Platform League), and current champion of the CBR/LARC 2022."

const photos: Midia[] = [
    {src: "/photo1.jpg", alt: "ButiaBOTS 2021"},
    {src: "/photo1.jpg", alt: "ButiaBOTS 2021 - 1"},
    {src: "/photo1.jpg", alt: "ButiaBOTS 2021 - 2"},
    {src: "/photo1.jpg", alt: "ButiaBOTS 2021"},
    {src: "/photo1.jpg", alt: "ButiaBOTS 2021 - 1"},
    {src: "/photo1.jpg", alt: "ButiaBOTS 2021 - 2"},
];

const videos: Midia[] = [
    {src: "/photo1.jpg", alt: "ButiaBOTS 2021"},
    {src: "/photo1.jpg", alt: "ButiaBOTS 2021 - 1"},
    {src: "/photo1.jpg", alt: "ButiaBOTS 2021 - 2"},
];

const timeline: TimelineItem[] = [
    {
        year: "2018",
        items: ['3° Place in the Brazilian Robotics Competition (LARC/CBR) 2018']
    }, {
        year: "2019",
        items: ['3° Place in the Brazilian Robotics Competition (LARC/CBR) 2019']
    }, {
        year: "2020",
        items: ['3° Place in the Brazilian Robotics Competition (LARC/CBR) 2020']
    }, {
        year: "2021",
        items: ['2° Place in the Brazilian Robotics Competition (LARC/CBR) 2021']
    }, {
        year: "2022",
        items: [
            '3° Place in the RoboCup Thailand 2022 (Open Platform League)',
            '1° Place in the Brazilian Robotics Competition (LARC/CBR) 2022'
        ]
    }
]

const members: MemberCardProps[] = [
    {
        name: "Lucas Martins",
        description: "Member of the FBOT robotics team, also working on the FSEK and VSSS categories.",
        title: "Computer Egineer student",
        img: "/photo1.jpg",
        links: [
            {description: "github", url: "https://github.com/LucasMartinsUthi", icon: "fa-brands:github"},
            {description: "linkedin", url: "https://www.linkedin.com/in/lucas-martins-uthi-0b0b4b1b3/", icon: "fa-brands:linkedin"},
        ]
    }, {
        name: "Lucas Martins",
        description: "Member of the FBOT robotics team, also working on the FSEK and VSSS categories.",
        title: "Computer Egineer student",
        img: "/photo1.jpg",
        links: [
            {description: "github", url: "https://github.com/LucasMartinsUthi", icon: "fa-brands:github"},
        ]
    }, {
        name: "Lucas Martins",
        description: "Member of the FBOT robotics team, also working on the FSEK and VSSS categories.",
        title: "Computer Egineer student",
        img: "/photo1.jpg",
        links: [
            {description: "github", url: "https://github.com/LucasMartinsUthi", icon: "fa-brands:github"},
        ]
    } , {
        name: "Lucas Martins",
        description: "Member of the FBOT robotics team, also working on the FSEK and VSSS categories.",
        title: "Computer Egineer student",
        img: "/photo1.jpg",
        links: [
            {description: "github", url: "https://github.com/LucasMartinsUthi", icon: "fa-brands:github"},
        ]
    } 
]

const publications: PublicationItem[] = [
    {
        title: "Github Tutorial",
        description: "Lorem Ipsum is simply dummy text",
        date: "Januray, 2021", url: "google.com"
    }, {
        title: "Other Tile", 
        description: "",
        date: "Januray, 2022", url: "google.com"
    }, {
        title: "Publication", 
        description: "Lorem Ipsum is simply dummy text extra text here just to see something",
        date: "Januray, 2023", url: "google.com"
    }, {
        title: "Github Tutorial",
        description: "Lorem Ipsum is simply dummy text",
        date: "Januray, 2021", url: "google.com"
    }, {
        title: "Other Tile", 
        description: "",
        date: "Januray, 2022", url: "google.com"
    }
]
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <Head title="ButiaBOTS"/>
  <body class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white">
    <Header />
    <div class="pt-[72px]">
        <div class="min-h-screen">
            <div class="flex flex-1 flex-column justify-center p-14 bg-white">
                <Icon name="we_are_champions" class="h-16" />      
            </div>

            <AboutTeam id="butiabots" title="ButiaBOTS" description={teamDescription} />
        </div>

        <Photos photos={photos} />
        <Videos videos={videos} />
        <Timeline timeline={timeline} />
        <Members members={members} />
        <Publications publications={publications}/>
    </div>

    <Footer />
</body>
</html>
