---
import "@fontsource/inter/variable.css";
import Header from "~/components/header.astro";
import { Icon } from "astro-icon";
import "~/styles/index.css";
import Head from "~/components/head.astro";
import Footer from "~/components/footer.astro";
import type { MemberCardProps, Midia, YoutubeVideo, PublicationItem, ContributionItem, TimelineItem } from "~/types";
import AboutTeam from "~/components/about-team.astro";
import Photos from "~/components/photos.astro";
import Videos from "~/components/videos.astro";
import Members from "~/components/members.astro";
import Timeline from "~/components/timeline.astro";
import Publications from "~/components/publications.astro";
import Contributions from "~/components/contributions.astro";

const teamDescription = "The Brazilian United Team for Intelligent Automation - FBOT@Home was founded in 2018 by FBOT from Universidade Federal do Rio Grande (FURG). The team FBOT@Home has already taken part in several RoboCup @Home competitions, achieving the third place in the Brazilian Robotics Competition (CBR) for three consecutive years (2018 - 2019 - 2020), being vice champion of CBR in 2021 and the first place in the last three years (2022, 2023 and 2024). Besides, we participated three times on Robocup (World Championship) where we achieving the third place in RoboCup Bangkok 2022 (Open Platform League), ninth place in RoboCup Bordeaux 2023 and elenventh place on RoboCup Eindhoven 2024."
const teamImage: Midia = {
    src: "/doris-holding-the-bag.png",
    alt: "Doris holding the trash bag"
}

const photos: Midia[] = [
    {src: "butiabots/galery6.jpg", alt: "ROBOCUP - 2022"},
    {src: "butiabots/galery4.jpg", alt: "CBR - 2022"},
    {src: "butiabots/galery3.jpg", alt: "RoboPampa 2022"},
    {src: "butiabots/galery21.jpg", alt: "CBR - 2024"},
    {src: "butiabots/galery11.jpg", alt: "CBR - 2023"},
    {src: "butiabots/galery22.jpg", alt: "CBR - 2024"},
    {src: "butiabots/galery23.jpg", alt: "CBR - 2024"},
    {src: "butiabots/galery13.jpg", alt: "CBR - 2023"},
    {src: "butiabots/galery24.jpg", alt: "CBR - 2024"},
];

const videos: YoutubeVideo[] = [
    {title: "FBOT@Home Qualification Video Robocub@Home 2025", videoId: "vgS5V2tG5CU"},
    {title: "FBOT@Home Qualification Video Robocup@Home 2023", videoId: "W0ycSahgp7Q"},
    {title: "FBOT@Home (FBOT@Home) - Quiz Task [Brazilian Robotics Competition 2022]", videoId: "OeLR3hdfspA"},
    {title: "FBOT@Home (FBOT@Home) - Receptionist test [Brazilian Robotics Competition 2022]", videoId: "Dcx8PXWFoLQ"},
    {title: "FBOT@Home (FBOT@Home) - Follow Me test", videoId: "fYDdPWGK1F8"},
    {title: "FBOT@Home (FBOT@Home) DoRIS Robot - Object Recognition With Yolo V4 (2021)", videoId: "IV_c_WMsi-A"},
    {title: "FBOT@Home (FBOT@Home) DoRIS Robot - Simulation Go and Get It test (2021)", videoId: "MmouADLd1pI"},
    {title: "FBOT@Home qualification video - CBR 2021", videoId: "FJqwui6azaw"},
    {title: "Poster Session Team ButiáBots - CBR 2021", videoId: "kodsnbdBBdA"},
];

const timeline: TimelineItem[] = [
    {
        year: "2024",
        items: ['Integrates the Technical Committee of the Brazilian Robotics Competition',
                'Integrates the Organization Committee of the RoboCup@Home Competition',
                '11° Place in the RoboCup@Home Eindhoven 2024 (Open Platform League)',
                '1° Place in the Brazilian Robotics Competition (CBR) 2024'
        ]
    },
    {
        year: "2023",
        items: ['Integrates the Technical Committee of the Brazilian Robotics Competition',
                'Integrates the Organization Committee of the RoboCup@Home Competition',
                '9° Place in the RoboCup@Home Bordeaux 2023 (Open Platform League)',
                '1° Place in the Brazilian Robotics Competition (CBR) 2023'
        ]
    }, {
        year: "2022",
        items: ['3° Place in the RoboCup@Home Bangkok 2022 (Open Platform League)',
                '1° Place in the Brazilian Robotics Competition (CBR) 2022',
                'Integrated the Technical Committee of the Brazilian Robotics Competition',
                'RoboPampa 2022 | Trinational Robotics Week'
        ]
    },  {
        year: "2021",
        items: ['2° Place in the Brazilian Robotics Competition (CBR) 2021',
                'Integrated the Technical Committee of the Brazilian Robotics Competition'
        ]
    },  {
        year: "2020",
        items: ['3° Place in the Brazilian Robotics Competition (CBR) 2020']
    },  {
        year: "2019",
        items: ['3° Place in the Brazilian Robotics Competition (CBR) 2019',
                'Host and promoter of the Brazilian Robotics Competition 2019'
        ]
    },  {
        year: "2018",
        items: ['3° Place in the Brazilian Robotics Competition (CBR) 2018',
                'Created and organized the RoboWeek 2018 event'
        ]
    }
]

const members: MemberCardProps[] = [
    {
        img: "/profiles/Joao.jpeg",
        name: "João Francisco Lemos",
        title: "Team Co-Leader and Automation Engineering Student",
        description: "Technician in Industrial Automation and undergraduate researcher in the BeeBot project and Software Engineer at iCourt.",
        links : [
            {description: "instagram", url: "https://www.instagram.com/jotafranciz/", icon: "fa-brands:instagram"},
            {description: "linkedin", url: "https://www.linkedin.com/in/joaoflemos", icon: "fa-brands:linkedin"},
            {description: "github", url: "https://github.com/Jfsslemos", icon: "fa-brands:github"},
        ]
    }, {
        img: "/profiles/Jardel.jpeg",
        name: "Jardel dos Santos Dyonisio",
        title: "Team Co-Leader and Automation Engineering Student",
        description: "Technician in Industrial Automation and undergraduate researcher in the LogNav 4.0 project.",
        links : [
            {description: "instagram", url: "https://www.instagram.com/jsdyon/", icon: "fa-brands:instagram"},
            {description: "linkedin", url: "https://www.linkedin.com/in/jardeldyonisio/", icon: "fa-brands:linkedin"},
            {description: "github", url: "https://github.com/jardeldyonisio", icon: "fa-brands:github"},
        ]
    }, {
        img: "/profiles/Cris.jpeg",
        name: "Cris Lima Froes",
        title: "Computer Engineering Student",
        description: "Technician in Informatic for Internet and undergraduate researcher of the AeroScan project, working in data processing.",
        links: [
            {description: "linkedin", url: "https://www.linkedin.com/in/cris-lima-froes-73604816b/", icon: "fa-brands:linkedin"},
            {description: "github", url: "https://github.com/crislmfroes", icon: "fa-brands:github"},
        ]
    },   {
        img: "/profiles/Emilly.jpeg",
        name: "Emilly Lamotte",
        title: "Automation Engineering Student",
        description: "Technician in Industrial Automation and Software Engineer at XP Inc.",
        links: [
            {description: "instagram", url: "https://www.instagram.com/emilly_lamotte/", icon: "fa-brands:instagram"},
            {description: "linkedin", url: "https://www.linkedin.com/in/emillylamotte", icon: "fa-brands:linkedin"},
            {description: "github", url: "https://github.com/emillylamotte", icon: "fa-brands:github"},
        ]
    }, 
    {
        img: "/profiles/Marina.jpeg",
        name: "Marina Zanotta Rocha",
        title: "Automation Engineering Student",
        description: "Technician in Industrial Automation and undergraduate researcher in the Gardener project.",
        links : [
            {description: "instagram", url: "https://www.instagram.com/marina_zrocha/", icon: "fa-brands:instagram"},
            {description: "linkedin", url: "https://www.linkedin.com/in/marina-zanotta-rocha", icon: "fa-brands:linkedin"},
            {description: "github", url: "https://github.com/MarinaZRocha", icon: "fa-brands:github"},
        ]
    }, {
        img: "/profiles/Luis.jpeg",
        name: "Luis Milczarek Quadros",
        title: "Automation Engineering Student",
        description: "Technician in Industrial Automation and undergraduate researcher in the project Capacity building 4.0.",
        links : [
            {description: "instagram", url: "https://www.instagram.com/luismilczarek/", icon: "fa-brands:instagram"},
            {description: "linkedin", url: "https://www.linkedin.com/in/luis-felipe-milczarek-quadros-2552a6149", icon: "fa-brands:linkedin"},
            {description: "github", url: "https://github.com/LuisMilczarek", icon: "fa-brands:github"},
        ]
    },  {
        img: "/profiles/Andre.jpeg",
        name: "André Maurell",
        title: "Computer Engineering Student",
        description: "Undergraduate researcher in the LogNav 4.0 project, specializing in Front-end development and computer vision.",
        links : [
            {description: "instagram", url: "https://www.instagram.com/andremaurell/", icon: "fa-brands:instagram"},
            {description: "linkedin", url: "https://www.linkedin.com/in/andré-maurell-19328b240/", icon: "fa-brands:linkedin"},
            {description: "github", url: "https://github.com/andremaurell", icon: "fa-brands:github"},
        ]
    },
    {
        img: "/profiles/PedroEdom.jpeg",
        name: "Pedro Edom Nunes",
        title: "Computer Engineering Student",
        description: "Technician in Informatic for Internet and undergraduate researcher of the BeeBot project, working in object manipulation.",
        links: [
            {description: "instagram", url: "https://www.instagram.com/pedro_edom_/", icon: "fa-brands:instagram"},
            {description: "linkedin", url: "https://www.linkedin.com/in/pedro-edom-6b25821a9/ ", icon: "fa-brands:linkedin"},
            {description: "github", url: "https://github.com/edompedro", icon: "fa-brands:github"},
        ]
    },
    {
        img: "/profiles/Gabriel.jpg",
        name: "Gabriel Amaral Dorneles",
        title: "Automation Engineering Student",
        description: "Undergraduate researcher in the iCrane project promoted by iTec/FURG-Embrapii, working on the development of a digital twin model.",
        links: [
            {description: "instagram", url: "https://www.instagram.com/g_dorneles/", icon: "fa-brands:instagram"},
            {description: "linkedin", url: "https://www.linkedin.com/in/gabriel-dorneles-6a3527258/", icon: "fa-brands:linkedin"},
            {description: "github", url: "https://github.com/gadorneles", icon: "fa-brands:github"},
        ]
    },
    {
    img: "/profiles/Cassio.jpeg",
    name: "Cassio Nicoletti Schroeder Teixeira",
    title: "Automation Engineering Student",
    description: "Technician in Industry Automation, Robotics Instructor at C. Marista São Francisco.",
    links: [
            {description: "instagram", url: "https://www.instagram.com/c_nicoletti/", icon: "fa-brands:instagram"},
            {description: "linkedin", url: "https://www.linkedin.com/in/cassio-teixeira-30248b24b", icon: "fa-brands:linkedin"},
            {description: "github", url: "https://github.com/cnst01", icon: "fa-brands:github"},
        ]
    },
        {
    img: "/profiles/nicolas.jpeg",
    name: "Nicolas Freitas Dias",
    title: "Automation Engineering Student",
    description: "Scientific initiation researcher in the Robot Gardener project promoted by iTec/FURG-Embrapii, working on the development of a weed control robot.",
    links: [
            {description: "instagram", url: "https://www.instagram.com/nicol4sdi4s?igshid=OGQ5ZDc2ODk2ZA%3D%3D", icon: "fa-brands:instagram"},
            {description: "linkedin", url: "https://www.linkedin.com/in/nicolas-freitas-dias-a010a6230/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app", icon: "fa-brands:linkedin"},
            {description: "github", url: "https://github.com/Nicol4sDi4s", icon: "fa-brands:github"},
        ]
    },
    {
    img: "/profiles/Luis2.jpg",
    name: "Luis Filipe Felix da Silva ",
    title: "︎Information Systems Student",
    description: "Undergraduate researcher in the project Capacity building 4.0",
    links: [
            {description: "linkedin", url: "https://www.linkedin.com/in/luis-filipe-felix-da-silva-419681149", icon: "fa-brands:linkedin"},
            {description: "github", url: "https://github.com/luisffee", icon: "fa-brands:github"},
        ]
    },
    {
        img: "/profiles/Eduardo.jpeg",
        name: "Eduardo Augusto Duarte Evangelista",
        title: "Computer Engineering Student",
        description: "FBOT@Home member and specializing in computer vision at BeeBot project.",
        links: [
            {description: "linkedin", url: "https://www.linkedin.com/in/eduardo-evangelista/", icon: "fa-brands:linkedin"},
            {description: "github", url: "https://github.com/Eduaugust", icon: "fa-brands:github"},
        ]
    },
    {
        img: "/profiles/kristofer.jpg",
        name: "Kristofer Stift Kappel",
        title: "Postdoctoral Researcher",
        description: "Bachelor and PhD in Computer Science.",
        links: [
            {description: "instagram", url: "https://www.instagram.com/kriskappel/", icon: "fa-brands:instagram"},
            {description: "github", url: "https://github.com/kriskappel", icon: "fa-brands:github"},
        ]
    },
        {
        img: "/profiles/richard.jpg",
        name: "Richard Júnio Costa de Assis",
        title: "Computer Engineering ",
        description: "Automation Technician and Team Leader at Augen Engenharia.",
        links: [
            {description: "instagram", url: "instagram.com/richassis", icon: "fa-brands:instagram"},
            {description: "linkedin", url: "https://br.linkedin.com/in/richard-de-assis-3a8135217", icon: "fa-brands:linkedin"},
            {description: "github", url: "http://github.com/richassis", icon: "fa-brands:github"},
        ]
    },
    {
        img: "/profiles/jose.jpg",
        name: "Jose David Garcia Ramos",
        title: "Master's in Computational Modeling",
        description: "Electronics and Telecommunications Engineer and researcher on the STIHL project.",
        links: [
            {description: "linkedin", url: "https://www.linkedin.com/in/jos%C3%A9-david-garc%C3%ADa-ramos-b17b88329/", icon: "fa-brands:linkedin"},
            {description: "github", url: "https://github.com/Gardiy", icon: "fa-brands:github"},
        ]
    },
    {
        img: "/profiles/fernando.jpg",
        name: "Fernando Piva Mendes",
        title: "Automation Engineering Student",
        description: "Undergraduate automation researcher and FBOT@Home team member",
        links: [
            {description: "instagram", url: "https://www.instagram.com/fernandopm28/profilecard/?igsh=MXdmYncza2cyaTJ5cw==", icon: "fa-brands:instagram"},
            {description: "linkedin", url: "https://www.linkedin.com/in/fernando-piva-mendes-a66b75249", icon: "fa-brands:linkedin"},
            {description: "github", url: "https://github.com/FernandoPM28", icon: "fa-brands:github"},
        ]
    },
    {
        img: "/profiles/Igor.jpeg",
        name: "Igor Pardo Maurell",
        title: "M.Sc Computer Engineering",
        description: "Technician in Industrial Automation, Computer Engineer and leader of 3D data processing in AeroScan project.",
        links: [
            {description: "instagram", url: "https://www.instagram.com/igormaurell/", icon: "fa-brands:instagram"},
            {description: "linkedin", url: "https://www.linkedin.com/in/igor-maurell-848596185/", icon: "fa-brands:linkedin"},
            {description: "github", url: "https://github.com/igormaurell", icon: "fa-brands:github"},
        ]
    }, {
        img: "/profiles/Drews.jpg",
        name: "Paulo Lilles Drews Jr.",
        title: "Team Coordinator",
        description: "Professor at FURG's Centro de Ciências Computacionais, Computer Science (M.Sc, D.Sc).",        
        links: [
            {description: "profile", url: "http://www.paulo.c3.furg.br/", icon: "fa-solid:user-circle"},
            {description: "linkedin", url: "https://www.linkedin.com/in/paulo-drews-jr-29ba6125/", icon: "fa-brands:linkedin"},
        ]
    }, {
        img: "/profiles/Rodrigo.jpg",
        name: "Rodrigo Guerra",
        title: "Team Coordinator",
        description: "Professor at FURG, Control and Automation Engineering (BSc), Computer Vision (MSc), and Robotics (PhD).",        
        links: [
            {description: "profile", url: "http://lattes.cnpq.br/4292452867996496", icon: "fa-solid:user-circle"},
            {description: "linkedin", url: "https://www.linkedin.com/in/tioguerra", icon: "fa-brands:linkedin"},
        ]
    }
]

const publications: PublicationItem[] = [

    {
        title: "SHARK: STABLE HOVERBOARD-DRIVEN AUTONOMOUS ROBOT KIT",
        description: "Autonomous hoverboard-driven made with Hoverboard",
        date: "2024", url: "https://www.even3.com.br/anais/v-brahur-vi-brasero/869310-shark--stable-hoverboard-driven-autonomous-robot-kit/"
    },
    {
        title: "Team Description Paper 2022",
        description: "Brazilian Robotics Competition @Home 2022",
        date: "2022", url: "https://drive.google.com/file/d/1IFcNxrehfH0oAJZ1qMLu5pbDlJwZ6j3X/view"
    }, {
        title: "Team Description Paper 2022",
        description: "RoboCup@Home Bangkok 2022",
        date: "2022", url: "https://drive.google.com/file/d/1ZBCIJjakgFjuQsuMHK7J-i9LRD6Z6vyg/view?usp=share_link"
    }, {
        title: "Jubileo",
        description: "Framework for Research in Human-Robot Social Interaction",
        date: "Sep, 2022", url: "https://arxiv.org/abs/2209.13509"
    }, {
        title: "Team Description Paper 2021",
        description: "Brazilian Robotics Competition @Home 2021",
        date: "2021", url: "https://drive.google.com/file/d/1CQ8Uy9pggwJRivyQL-UhAJOjHTxTid-m/view?usp=share_link"
    }, {
        title: "The Improvement Of The Domestic Robot DoRIS", 
        description: "",
        date: "July 15, 2021", url: "https://even3.blob.core.windows.net/anais/384160.pdf"
    }, {
        title: "Team Description Paper 2020", 
        description: "Brazilian Robotics Competition @Home 2020",
        date: "2020", url: "https://drive.google.com/file/d/1A1bfNjHBTUHsVDIC5u9b8q3g45SdkRY5/view?usp=share_link"
    },{
        title: "General Aspects and Perception of the Domestic Robot DoRIS", 
        description: "",
        date: "April, 2019", url: "https://fei.edu.br/brahurbrasero2019/Proceedings_BRAHUR_BRASERO_2019.pdf"
    }, {
        title: "Team Description Paper 2019", 
        description: "Brazilian Robotics Competition @Home 2019",
        date: "2019", url: "https://drive.google.com/file/d/1fxt-tTaoY7zBt3c8iicAUb9ofUDoddLH/view?usp=share_link"
    }
]

const contributions: ContributionItem[] = [
    {
        title: "GitHub FBOT@Home",
        description: "Public contributions of FBOT@Home Team",
        date: "2023", url: "https://github.com/butia-bots"
    }, {
        title: "FBOT@Home Quiz Package",
        description: "This package provides the ability for the robot DoRIS to answer previously known questions.",
        date: "2023", url: "https://github.com/butia-bots/butia_quiz"
    }, {
        title: "FBOT@Home Speech Package",
        description: "This package provides some tools to make the robot DoRIS speak and listen.",
        date: "2023", url: "https://github.com/butia-bots/butia_speech"
    }, {
        title: "FBOT@Home Butia Dataset Generation Unity",
        description: "This repository provides the Unity Editor project for the synthetic computer vision dataset generation tools",
        date: "2023", url: "https://github.com/butia-bots/butia_dataset_generation_unity"
    }, {
        title: "Object Recognition",
        description: "Tutorial - Object Recognition with RoboFlow, CVAT and Yolo (CBR 2021)",
        date: "October, 2021", url: "https://www.youtube.com/watch?v=2DjFpyn6S8Q",
        tag: "tutorial"
    }, {
        title: "Face Recognition", 
        description: "Tutorial - Face Recognition with OpenFace (CBR 2020)",
        date: "November, 2020", url: "https://www.youtube.com/watch?v=vyrDsGSwL9w",
        tag: "tutorial"
    }
]
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <Head title="FBOT@Home"/>
  <body class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white">
    <Header />
    <div class="pt-[72px]">
        <div class="min-h-screen">
            <div class="flex flex-1 flex-column justify-center p-10 bg-white">
                <Icon name="we_are_champions" class="h-10" />      
            </div>

            <AboutTeam id="FBOT@Home" title="FBOT@Home" description={teamDescription} img={teamImage} />
        </div>

        <Photos photos={photos} />
        <Videos videos={videos} />
        <Timeline timeline={timeline} />
        <Publications publications={publications}/>
        <Contributions contributions={contributions}/>
        <Members members={members} />
    </div>

    <Footer />
</body>
</html>

